header {
    background-color: #ffdd1c;
    color: #383838;
    padding: 10px;
    display: flex;
    align-items: center;
}

img {
    height: 150px;
    margin-right: 10px;
}


h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav li {
    margin-right: 10px;
}

nav a {
    color: #000000;
    text-decoration:solid white
}

nav a:hover {
    text-decoration:solid white
}

.INICIO {
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;
    font-family: Arial black, Helvetica, sans-serif;
    padding: 20px;
  }

  .INICIO:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }


  .CONTATO {
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;
    font-family: Arial black, Helvetica, sans-serif;
    padding: 20px;
  }

  .CONTATO:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }


  .QUEM-SOMOS {
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;
    font-family: Arial black, Helvetica, sans-serif;
    padding: 20px;
  }
  .QUEM-SOMOS:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }


  .SAIBA-MAIS {
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;
    font-family: Arial black, Helvetica, sans-serif;
    padding: 20px;
  }

  .SAIBA-MAIS:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }


  .BARRA-PESQUISA{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search.form input[type="text"]
  {
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 7px;
    margin-right: 5px;
  }
  .search.form button[type="submit"]
  {
    padding:10px 20px;
    background-color:rgb(0, 255, 0);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
  }

  .search.form button[type="submit"]:hover
  {background-color: blueviolet;}


  .banner {
    position: relative;
    height: 400px;
    width: 500px;
  }

  .banner img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 1000px;
    height: 300px;
  }

  .banner img:nth-child(1) {
    opacity: 1;
  }

  .banner img.active {
    opacity: 1;
  }